@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');
html,body{
  height:100%;
}
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size:16px;
  color:#333;
}
.navi{
  min-height:200px;
  background:#fff;
  border-left:1px solid #ededed;
  border-right:1px solid #ededed;
  padding:10px 1rem 10px;
  position:fixed;
  text-align:left;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height:auto;
}
.logo{
  max-width:30%;
  transition:all 300ms;
  margin-right:15px;
}
.hello{
  font-weight:600;
  font-size:1.2rem;
  margin-top:15px;
  margin-bottom:50px;
}
.navbox{
   text-align: left;
   align-self:flex-start;
   margin-left:20px;
}
.nav-tems{
   display:flex;
   text-decoration:none;
   color:#333;
   text-transform: uppercase;
   font-weight:500;
   align-items:center;
   padding-top:10px;
   padding-bottom:10px;
}
.nav-tems>span{
    display:inline-block;
    width:15px;
    height:2px;
    background:#333;
    transition: all 300ms;
}
.nav-tems:hover,
.nav-tems.action{
   font-weight:700;
}
.nav-tems:hover>span,
.nav-tems.action>span{
    width:35px;
}
.nav-tems>svg{
    margin-left:-10px;
    margin-right:15px;
    font-size:20px;
}
.snsbox a{
   font-size:2rem;
   margin-left:8px;
   margin-right:8px;
   color:#0fbcf9;
   transition: all 300ms;
   position:relative;
}
.snsbox a:hover{
  color:#025f81;
  font-size:2.2rem;
}
.snsbox a:hover::before{
   font-size:0.8rem;
   position:absolute;
   display:block;
   width:60px;
   text-align:right;
   top:-5px;
   right:5px;
}
.snsbox a.github:hover::before{
    content:"깃허브";
}
.snsbox a.insta:hover::before{
    content:"인스타그램";
}
.snsbox a.kakao:hover::before{
    content:"카카오톡";
}
.snsbox a.google:hover::before{
    content:"구글";
}

/*** ABOUT ME ****/
.about-box{
    padding:2.5em;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.card{
  width:200px;
  height:200px;
  border-color:#fff;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
}
.about-text{
  text-align: center;
  line-height: 5;
}
.about_images{
  width:40px;
  height:40px;
}
.ft-size{
  font-size: 80px;
}
.text-c{
  text-align: center;
}
.about_banner{
  width:100%;
  height:100px;
  background-color: #ddd;
  border:1px solid #ddd;
  font-family: "Nanum Myeongjo", sans-serif;
}
/***** profile ****/
.profile_box{
  display: flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
}
.pr_in_box{
  width: 33.3333%;
}
.pr_d_box{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 14rem;

}
.pr-ft_size{
  font-size:60px;
}
.ft-size-p{
  font-size:14px;
}
.profile_banner{
  width:100%;
  height:60px;
  border:1px solid #ddd;
  background-color: #ddd;
  font-family: "Nanum Myeongjo", sans-serif;
  
}
.profile_text{
  line-height: 3;
}

/***** skills *****/
.myskill{
  list-style-type: none;
  padding:0;
  width:48%;
}
.skill_box{
  display: flex;
  display: -ms-flexbox;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
}
.skill_in_box{
  width: 50%;
}
.skill_d_box{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 14rem;
}


/***** pages ******/
section{
  min-height:800px;
}

@media (min-width: 576px) {
  .navi {
      width: 540px;
      text-align:left;
  }
}
@media (min-width: 768px) {
  .navi {
      width: 720px;
      text-align:left;
  }
}
@media (min-width: 992px) {
  .navi {
      width: 240px;
      height:100%;
      padding:100px 1rem 50px;
      flex-flow: column wrap;
      align-items: center;
  }
  .navi img{
     max-width:80%;
     transition:all 300ms;
  }
}
@media (min-width: 1200px) {
  .navi {
      width: 285px;
      height:100%;
      padding:100px 1rem 50px;
      flex-flow: column wrap;
      align-items: center;
  }
  .navi img{
    max-width:80%;
  }
}
@media (min-width: 1400px) {
  .navi {
      width: 330px;
      height:100%;
      padding:100px 1rem 50px;
      flex-flow: column wrap;
      align-items: center;
  }
  .navi img{
    max-width:80%;
  } 
}